/* 
CSS Style File for Marevili

index

* Not Login
* Link Design
* Form Style
* Detail Style
** Recom Detail Style
* Table Style
* Login View
* Input area
* Recommendation Input Area
* Navbar
* Button



*/


.logout {
    margin-left: 90%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.header {
    text-align: center;
}

.placelogin {
    text-align: center;
}



/* Body imgage */
body {
    background-image: url("/assets/img/food-salad-restaurant-person%20(1).jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    
}

/* Not Login */
    /* CSS Code from Bootstrap from Startpage */
.jumbotron {
    margin-top: 5%;
    margin-left: 29%;
    margin-right: 29%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color:#E4F8FF;
    border-radius: 10px;
}
.jumbotron h1,
.jumbotron .h1 {
    color: inherit;
    text-align: center;
}
.jumbotron p {
  margin-bottom: 15px;
    text-align: center;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

/* Not Login Ende */

/* Link Design */

    /* unvisited link */
a:link {
    color: #3364ec;
    text-decoration: none;
}

    /* visited link */
a:visited {
    color: #3364ec;
    text-decoration: none;
}

    /* mouse over link */
a:hover {
    color: orange;
    text-decoration: underline;
}

    /* selected link */
a:active {
    color: coral;
    text-decoration: underline;
}

/* Link Design End */

/* form style */
input {
    padding: 6px 15px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    outline: none;
}

input:focus {
    background-color: lightblue;
}

textarea {
    width: 90%;
    height: 150px;
    padding: 6px 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 15px;
    resize: none;
}

select {
    width: 25%;
    padding: 6px 15px;
    border: none;
    border-radius: 4px;
    background-color: white;
}

.forms {
    margin-left: 1% ;
}

.forms p {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}

/* form style ende */




/* Table */

table {
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #b5ecff}

th {
    background-color: #3364ec;
    color: white;
}


/* Table Style ende */

/* Login View */


.titeltop {
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 30px;
    padding-right:30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color:#e4f8ff;
    border-radius: 10px;

}

.titeltop h1 {
    color: inherit;
    text-align: center;
}

/* Login View */

/* input area */

.input-site {
    background-image: url("/assets/img/food-salad-restaurant-person.JPG");
    background-size: 100% 100%;
    position:  fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.input-area {
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: auto;
    padding-top: 30px;
    padding-right:30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color:#e4f8ff;
    border-radius: 10px;
}

.input-top h1 {
    color: inherit;
    text-align: center;
}

.input-button {
    margin-left: 2%;
    margin-top: -4.5%;
    margin-bottom: 2%;
}


/* input area end */

/* Recommendation input area */

.recom-input-site {
    background-image: url(food-salad-restaurant-person.JPG);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: auto;
    height: 1000px;
    }

.recom-input-top {
    margin-top: ;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 30px;
    padding-right:30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color:#eee
}

/* Recommendation input area end */

/* Navbar */
/* body {margin: 0;} */

ul.topnav {
    list-style-type: none;
    margin: 0;
    margin-top: -5%;
    padding: 0;
    overflow: hidden;
    background-color: #3364ec;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/* Navbar Ende /*
