<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Manage Restaurant Visit List</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

{% if logged_in %}
    <h1>Hello {{ user.nickname() }}, to the Manage Restaurant Visit List!</h1>

    <p><a href="{{ logout_url }}">Logout</a></p>

 <a href="input.html" class="button">New Restaurant</a>
    <a href="recommendation.html" class="button">Recommendation</a>

    <table>
        {% for gastro in gastros %}
        <thead>
            <tr>
                <th>Küche</th>
                <th>Name</th>
                <th>Bezirk</th>
                <th>Preis</th>
                <th>Bewertung</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ gastro.lokal_kitchen }}</td>
                <td><a href="/restaurant/{{ gastro.key.id() }}/details">{{ gastro.lokal_name }}</td>
                <td>{{ gastro.lokal_plz }}</td>
                <td>{% for i in range(0, gastro.lokal_price) %} &dollar; {% endfor %}</td>
                <td>{% for i in range(0, gastro.lokal_rating) %} &#10032; {% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    <h1>Hello, to the Manage Restaurant Visit List!</h1>

    <p>Please login here: <a href="{{ login_url }}">Login</a></p>
{% endif %}

</body>
</html>