<!DOCTYPE html>
<html>
<head lang="de">
    <meta charset="UTF-8">
    <title>Restaurant-Visit Manager</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/button.css">
    

</head>
<body>

{% if logged_in %}
<div class="login-page">
    
    
   
    <div class="titeltop">
        <h1>Willkommen {{ user.nickname() }} in Marevili, dein Restaurant-Visit Manager!</h1>
        <p class="logout"><a href="{{ logout_url }}"><button class="btn btn-danger" role="button">Logout</button></p>

        <div class="input-button">
            <a href="input.html"><button class="btn btn-info" role="button">Neues Restaurant</button></a>
            <a href="recommendation.html"><button class="btn btn-info" role="button">Empfehlung</button></a>
        </div>
        
            <table>
                <thead>
                    <tr>
                        <th>Küche</th>
                        <th>Name</th>
                        <th>Bezirk</th>
                        <th>Stadt</th>
                        <th>Preis</th>
                        <th>Bewertung</th>
                    </tr>
                </thead>
                <tbody>
                {% for gastro in gastros %}
                    <tr>
                        <td>{{ gastro.kitchen }}</td>
                        <td><a href="/restaurant/{{ gastro.key.id() }}/details">{{ gastro.name }}</a></td>
                        <td>{{ gastro.plz }}</td>
                        <td>{{ gastro.place }}</td>
                        <td>{% for i in range(0, gastro.price) %} &dollar; {% endfor %}</td>
                        <td>{% for i in range(0, gastro.rating) %} &#10032; {% endfor %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <p><font size="2">Version: Alpha 0.176</font></p>
    </div>
</div>
{% else %}
<div class="notlog">
    <div class="jumbotron">
        <h1>Willkommen in Marevili, dein Restaurant-Visit Manager!</h1>
            <p>Bitte hier Einloggen:</p>
                <p>
                    <a href="{{ login_url }}">
                        <button class="loginBtn loginBtn--google">
                            Login with Google
                        </button>
                </a>
            </p>
        <p><font size="3">Version: Alpha 0.175</font></p>
    </div>
</div>
{% endif %}

</body>
</html>