<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visit from a Recommendation</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="detail-site">
    <div class="recom-input-top">
        <div class="forms">
            <form action="/recommendation/{{ recoms.key.id() }}/visit-input" method="post">
                <p>
                    <input type="text" name="name" placeholder="Restaurant Name" required="required" value="{{ recoms.name }}"/><br>
                    <input type="text" name="street" placeholder="Straße und Hausnummer" required="required" value="{{ recoms.street }}"/><br>
                    <input type="text" name="plz" placeholder="PLZ" required="required" value="{{ recoms.plz }}" />
                    <input type="text" name="ort" placeholder="Ort" required="required"value="{{ recoms.place }}"/>
                </p>
                <p>
                    <textarea name="info" placeholder="Schreib bitte kurz etwas über deinen Aufenthalt im Restaurant" required></textarea><br>
                </p>
                <p>
                    <label>Preisklasse</label>
                    <select name="price" required>
                        <option></option>
                        <option value="1">&dollar;</option>
                        <option value="2">&dollar;&dollar;</option>
                        <option value="3">&dollar;&dollar;&dollar;</option>
                        <option value="4">&dollar;&dollar;&dollar;&dollar;</option>
                    </select>
                    <label>Bewertung</label>
                    <select name="rating" required>
                        <option></option>
                        <option value="1">&#10032;</option>
                        <option value="2">&#10032;&#10032;</option>
                        <option value="3">&#10032;&#10032;&#10032;</option>
                        <option value="4">&#10032;&#10032;&#10032;&#10032;</option>
                        <option value="5">&#10032;&#10032;&#10032;&#10032;&#10032;</option>
                    </select>
                </p>
                <p>
                    Wann warst du im Restaurant:
                    <input type="date" name="visit" required="required">
                </p>
                <p>
                    <label>Welche Küche wird angeboten:</label>
                    <select name="kueche" required>
                        <option></option>
                        <option value="Asiatisch">Asiatisch</option>
                        <option value="Beisel">Beisel</option>
                        <option value="Burger">Burger</option>
                        <option value="Bulgarisch">Bulgarisch</option>
                        <option value="Chinesisch">Chinesisch</option>
                        <option value="Französisch">Französisch</option>
                        <option value="Georgisch">Georgisch</option>
                        <option value="Grillhouse/Steak">Grillhouse/Steak</option>
                        <option value="Hausmannskost">Hausmannskost</option>
                        <option value="Irish/Burger">Irish/Burger</option>
                        <option value="Italienisch/Pizza">Italienisch/Pizza</option>
                        <option value="Japanisch">Japanisch</option>
                        <option value="Koreanisch">Koreanisch</option>
                        <option value="Polnisch">Polnisch</option>
                        <option value="Serbisch">Serbisch</option>
                        <option value="Slowakisch">Slowakisch</option>
                        <option value="Sushi">Sushi</option>
                        <option value="Spanisch">Spanisch</option>
                        <option value="Thailändisch">Thailändisch</option>
                        <option value="Türkisch">Türkisch</option>
                        <option value="Ungarisch">Ungarisch</option>
                        <option value="Vegan">Vegan</option>
                        <option value="Vegetarisch">Vegetarisch</option>
                        <option value="Vietnamesisch">Vietnamesisch</option>
                        <option value="Wiener Küche">Wiener Küche</option>
                    </select>
                </p>
                <p>
                    <button class="btn btn-primary" type="submit">Eintragen</button>
                    <button class="btn btn-warning" type="reset">Reset</button>
                    <a href="/"><button class="btn btn-danger" type="button">Back</button></a>

                </p>

            </form>
        </div>
    </div>
</div>
</body>
</html>