<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation Details</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="detail-info">
    <a href="/recommendation.html"><button class="btn btn-primary" type="button">Back</button></a>
    <form action="/recommendation/{{ recoms.key.id() }}/details">
         <div class="detail-header">
            <p>
                <a1>{{ recoms.name }}</a1> - <em>{{ recoms.kitchen }}</em><br>
                <a2>{{ recoms.street }} {{ recoms.plz }} {{ recoms.place }}</a2>
            </p>
         </div>
        <div class="detail-text">
            {% for i in range(0, recoms.price) %} &dollar; {% endfor %} Price - Registered by {{ recoms.user }}
        <p>
            <a1>Tip from:</a1> {{ recoms.from }}
        </p>
        </div>
        <p>
        <a href="/recommendation/{{ recoms.key.id() }}/visit-input"><button class="btn btn-info" type="button">Besucht</button></a>
        </p>
    </form>
</div>
</body>
</html>