<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation of Restaurants</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="login-page">
    <div class="titeltop">
        <h1>Recommendation of Restaurants</h1>

    <p class="logout"><a href="{{ logout_url }}"><button class="btn btn-danger" role="button">Logout</button></p>
    <div class="input-button">
        <a href="recom_input.html"><button class="btn btn-info" role="button">New Recommendation</button></a>
        <a href="/"><button class="btn btn-info" role="button">back</button></a>
    </div>
        <table>
            <thead>
                <tr>
                    <th>Küche</th>
                    <th>Name</th>
                    <th>Bezirk</th>
                    <th>Ort</th>
                    <th>Preis</th>
                    <th>Empfholen von</th>
                    <th>Eingeben von</th>
                </tr>
            </thead>
            {% for recom in recoms %}
            <tbody>
                <tr>
                    <td>{{ recom.kitchen }}</td>
                    <td><a href="/recommendation/{{ recom.key.id() }}/details">{{ recom.name }}</td>
                    <td>{{ recom.plz }}</td>
                    <td>{{ recom.place }}</td>
                    <td>{% for i in range(0, recom.price) %} &dollar; {% endfor %}</td>
                    <td>{{ recom.by }}</td>
                    <td>{{ recom.user }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>