<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation Details</title>
    <link rel="stylesheet" href="/assets/css/style.css">
     <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key=AIzaSyBKdIPR1Q6TzIvjJuJzIyvybo6Mg1JLm64"></script>

    <script>
        var map;
        var infoWindow;
        var service;

        function initialize() {
          var mapOptions = {
            zoom: 19,
            center: new google.maps.LatLng({{ restaurant_info.results[0].geometry.location.lat }}, {{ restaurant_info.results[0].geometry.location.lng }})
          };
          map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

          infoWindow = new google.maps.InfoWindow();
          var service = new google.maps.places.PlacesService(map);
          service.getDetails({
            placeId: '{{ restaurant_info.results[0].place_id }}'
          }, function(result, status) {
            if (status != google.maps.places.PlacesServiceStatus.OK) {
              alert(status);
              return;
            }
            var marker = new google.maps.Marker({
              map: map,
              position: result.geometry.location
            });
            var address = result.adr_address;
            var newAddr = address.split("</span>,");

            infoWindow.setContent(result.name + "<br>" + newAddr[0] + "<br>" + newAddr[1] + "<br>" + newAddr[2]);
            infoWindow.open(map, marker);
          });

        }

        google.maps.event.addDomListener(window, 'load', initialize);


    </script>
</head>
<body id="detail-site">
<div class="">
    <div class="recom-detail-info">
        <a href="/recommendation.html"><button class="btn btn-primary" type="button">Back</button></a>
        <form action="/recommendation/{{ recoms.key.id() }}/details">
            <div class="recom-detail-left">
                 <div class="detail-header">
                    <p>
                        <a1>{{ recoms.name }}</a1> - <em>{{ recoms.kitchen }}</em><br>
                        <a2>{{ recoms.street }} {{ recoms.plz }} {{ recoms.place }}</a2>
                    </p>
                 </div>
                <div class="detail-text">
                    {% for i in range(0, recoms.price) %} &dollar; {% endfor %} Price - Registered by {{ recoms.user }}
                <p>
                    <a1>Tip from:</a1> {{ recoms.from }}
                </p>
                </div>
                <p>
                <a href="/recommendation/{{ recoms.key.id() }}/visit-input"><button class="btn btn-info" type="button">Besucht</button></a>
                </p>
            </div>
            <div class="recom-detail-right">
                 <p>
                    {{ restaurant_info.results[0].name }}<br>
                    {{ restaurant_info.results[0].formatted_address }}<br>
                    Das Lokal ist:
                     {% if restaurant_info.results[0].opening_hours.open_now %}
                        Geöffnet
                     {% else %}
                        Geschlossen
                     {% endif %}
                </p>


            <div id="map-canvas"></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>