<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input of Recommendation</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <form method="post">
        <p>
            <input type="text" name="name" placeholder="Restaurant Name" /><br>
            <input type="text" name="street" placeholder="Straße und Hausnummer" /><br>
            <input type="text" name="plz" placeholder="PLZ" />
            <input type="text" name="ort" placeholder="Ort" />
        </p>
       <p>
           <input type="text" name="from" placeholder="Empfohlen von" /><br>
           <input type="text" name="user" placeholder="Eingetragen von" /><br>
       </p>
        <p>
            <label>Preis Klasse</label>
            <select name="price">
                <option value="1">&dollar;</option>
                <option value="2">&dollar;&dollar;</option>
                <option value="3">&dollar;&dollar;&dollar;</option>
                <option value="4">&dollar;&dollar;&dollar;&dollar;</option>
            </select>

        </p>
        <p>
            Welche Küche wird angeboten:
            <input type="text" name="kueche" required="required"/>
        </p>
        <p>
            <button type="submit">Eintragen</button>
            <button type="reset">Reset</button>
        </p>
</body>
</html>