<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Details</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="detail-info">
    <form action="/restaurant/{{ redetail.key.id() }}/details">
        <div class="detail-header">
            <p>
                <a1>{{ redetail.lokal_name }}</a1> - <em>{{ redetail.lokal_kitchen }}</em><br>
                <a2> {{ redetail.lokal_street }} {{ redetail.lokal_plz }} {{ redetail.lokal_place }}</a2>
            </p>
        </div>
        <div class="detail-text">
            {% for i in range(0, redetail.lokal_rating) %} &#10032; {% endfor %} Rating -
            {% for i in range(0, redetail.lokal_price) %} &dollar; {% endfor %} Price

        <p>
            <a1>Erfarungsbereicht</a1> <a2> vom {{ redetail.lokal_time }}</a2>
        </p>
        <p>
            <textarea readonly>{{ redetail.lokal_note }}
            </textarea>
        </p>

        <a href="/"><button class="btn btn-primary" type="button">back</button></a>
        <a href="/restaurant/{{ redetail.key.id() }}/review"><button class="btn btn-danger" type="button">Review</button></a>
    </form>
</div>
</body>
</html>