<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="input-site">
    <div class="input-area">
        <div class="forms">
            <form action="/restaurant/{{ reviews.key.id() }}/review" method="post">
                <h1>Write a Review to the Restaurant {{ reviews.name }}</h1>

                <p>
                    <textarea name="newreview" cols="47" rows="10" placeholder="Schreib bitte kurz etwas über deinen Aufenthalt im Restaurant" required></textarea>
                </p>
                <p>
                    <label>Preis Klasse</label>
                    <select name="newprice">
                        <option value="1">&dollar;</option>
                        <option value="2">&dollar;&dollar;</option>
                        <option value="3">&dollar;&dollar;&dollar;</option>
                        <option value="4">&dollar;&dollar;&dollar;&dollar;</option>
                    </select>
                    <label>Bewertung</label>
                    <select name="newrating">
                        <option value="1">&#10032;</option>
                        <option value="2">&#10032;&#10032;</option>
                        <option value="3">&#10032;&#10032;&#10032;</option>
                        <option value="4">&#10032;&#10032;&#10032;&#10032;</option>
                        <option value="5">&#10032;&#10032;&#10032;&#10032;&#10032;</option>
                    </select>
                </p>
                <p>
                    <input type="date" name="newvisit">
                </p>
                <a href="/"><button class="btn btn-primary" type="button">Back</button></a>
                <button class="btn btn-primary" type="submit">Eintragen</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>